[Desktop Entry]
Type=Application
Name=ImageMosaicWall
Comment=Create a Mosaic Image Wall from a set of images
Exec=ImageMosaicWall
Icon=ImageMosaicWall
Categories=Graphics;
